.closeRow {
  height: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.closeRow i {
  position: absolute;
  font-size: 1.5em;
  margin-top: -1rem;
  margin-right: -0.7rem;
}

.submitButton {
  width: 8rem;
  height: 2.4rem;
  background-color: rgba(255, 255, 255, 0);
  border: 0.1rem solid rgb(177, 177, 177);
  border-radius: 0.2rem;
  font-weight: bold;
  font-size: 0.9em;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
    rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
}
.submitButton:hover {
  background-color: aliceblue;
}
.btnRow {
  margin-top: 2rem;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
