.container {
  display: flex;
  flex-direction: column;
  width: 8rem;
}
.container label {
  text-align: start;
  font-weight: bold;
  padding-bottom: 0.6rem;
  padding-left: 0.1rem;
}
.container input {
  border-radius: 0.2rem;
  border: 0.1rem solid rgb(202, 202, 202);
  height: 2.36rem;
  padding-left: 0.4rem;
}
