.extraRowInfo.rowInfo td {
  padding-left: 0.5rem;

  text-align: left;
  font-size: 0.65em;
  height: 0rem;
  border-left: 0.12rem solid rgb(185, 183, 183);
  border-right: 0.12rem solid rgb(185, 183, 183);
}

.extraRowInfo.rowHeading td {
  padding-left: 0.5rem;
  padding-top: 1rem;
  text-align: left;
  font-weight: bold;
  margin-bottom: 1rem;
  height: 1rem;
  font-size: 0.65em;
  border-left: 0.12rem solid rgb(185, 183, 183);
  border-right: 0.12rem solid rgb(185, 183, 183);
}
.extraRowInfo.rowHeading td:nth-child(1) {
  padding-left: 0.5rem;
  padding-top: 1rem;
  text-align: left;
  font-weight: bold;
  margin-bottom: 1rem;
  height: 1rem;
  font-size: 0.65em;
  border-left: 0.12rem solid rgb(185, 183, 183);
  border-right: 0.12rem solid rgb(185, 183, 183);
}

.headingPadding td {
  padding-top: 0.3rem !important;
}
.bottomRow {
  height: 0.3rem;
  border-left: 0.12rem solid rgb(185, 183, 183);
  border-right: 0.12rem solid rgb(185, 183, 183);
  border-bottom: 0.12rem solid rgb(185, 183, 183);
}
.close {
  border-left: 0rem solid !important;
  text-align: end !important;
}
.closeIcon {
  position: relative;
  z-index: 1;
  margin-right: 0.5rem;
  font-size: 1.3em;
}
