.scheduleTable {
  width: 50rem;
  border-collapse: collapse;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.tableHead th {
  padding-left: 0.5rem;
  font-size: 0.65em;
  text-align: left;
  height: 2rem;
  border: 0.12rem solid rgb(185, 183, 183);
}
.courseName {
  padding-left: 0.5rem;
  font-size: 0.65em;
  text-align: left;
  font-weight: bold;
  height: 2rem;
  background-color: rgb(229, 229, 229);
  border: 0.12rem solid rgb(185, 183, 183);
}
.extraRowInfo.rowInfo td {
  padding-left: 0.5rem;

  text-align: left;
  font-size: 0.65em;
  height: 0rem;
  border-left: 0.12rem solid rgb(185, 183, 183);
  border-right: 0.12rem solid rgb(185, 183, 183);
}

.extraRowInfo.rowHeading td {
  padding-left: 0.5rem;
  padding-top: 1rem;
  text-align: left;
  font-weight: bold;
  margin-bottom: 1rem;
  height: 1rem;
  font-size: 0.65em;
  border-left: 0.12rem solid rgb(185, 183, 183);
  border-right: 0.12rem solid rgb(185, 183, 183);
}

.headingPadding td {
  padding-top: 0.3rem !important;
}
.bottomRow {
  height: 0.3rem;
  border-left: 0.12rem solid rgb(185, 183, 183);
  border-right: 0.12rem solid rgb(185, 183, 183);
  border-bottom: 0.12rem solid rgb(185, 183, 183);
}
