.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.caption {
  font-size: 1.2em;
  font-weight: bold;
  margin-bottom: 1rem;
}
.inputRow {
  margin-left: 2rem;
  width: 29rem;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.plusIcon {
  font-size: 2em;
  margin-top: -0.3rem;
}
