.container {
  display: flex;
  flex-direction: column;
  width: 8rem;
}
.container label {
  text-align: start;
  font-weight: bold;
  padding-bottom: 0.6rem;
  padding-left: 0.1rem;
}
.container input {
  border-radius: 0.2rem;
  border: 0.1rem solid rgb(223, 223, 223);
  height: 2.36rem;
  padding-left: 0.4rem;
}
.optionContainer {
  position: absolute;
  background-color: white;
  border: 0.1rem solid rgb(213, 213, 213);
  border-radius: 0.3rem;
  width: 8rem;
  max-height: 7rem;
  margin-top: 4.9rem;
  overflow: scroll;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  padding-bottom: 0.2rem;
}
.optionContainer option {
  margin-top: 0.2rem;
  text-align: center;

  padding: 0.5rem;
}
.optionContainer option:hover {
  background-color: rgb(221, 237, 255);
}
.errorHandling input {
  border: 0.13rem solid rgb(225, 44, 44);
}
.errorHandling input:focus {
  outline: none;
}
